h1 {
    color: rgb(250, 171, 2);
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

ul {
    color: white;
}

img {
    border-radius: 20px;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    font-style: italic;
}

body {
    background-image: url("../images/dark-background.jpg") ;
    background-size: cover;
    background-attachment: fixed;
   }

main {
    color: white;
    font-weight: lighter;
    font-size: large;
    font-style: normal;
}

nav {
    font-style: italic;
    font-weight: 450;
    font-size: larger;
}

section#first-paragraph {
    text-align: center;
}

section#second-paragraph {
    text-align: left;
}

section#third-paragraph {
    text-align: right;
}

section#fourth-paragraph {
    text-align: left;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}



